.imageUploadWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imageUploadTop {
  color: mediumspringgreen;
}

.imageUploadBottom {
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.imgUpload {
  max-width: 300px;
  height: auto;
  border-radius: 5px;
  box-shadow: mediumslateblue 0px 1px 7px 0px;
}

.toggled:nth-child(even) {
  border-radius: 50%;
}
