/*
  These are the "universal" styles which should
  apply to all Sidenote instances.
*/
.wrapper {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  padding: 5px 10px 10px 0px;
  border-left: 3px solid;
  border-radius: 3px 6px 6px 3px;
  margin-bottom: 0.5em;
  color: aliceblue;
}

.left {
  display: flex;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*
  These styles are specific for the given category.
*/
.tiedye {
  color: #ff00ff;
}

.notice {
  background-color: hsl(210deg 55% 75% / 0.15);
  border-color: hsl(245deg 100% 60%);
}

.warning {
  background-color: hsl(40deg 100% 50% / 0.15);
  border-color: hsl(30deg 100% 50%);
}

.error {
  background-color: hsl(340deg 95% 43% / 0.15);
  border-color: hsl(340deg 95% 60%);
}

.success {
  background-color: hsl(160deg 100% 40% / 0.15);
  border-color: mediumspringgreen;
}

.sidenote-icon {
  margin: 2px 5px 5px 5px;
}

.sidenote-icon-notice {
  color: hsl(245deg 100% 60%);
}
.sidenote-icon-warning {
  color: hsl(30deg 100% 50%);
}
.sidenote-icon-error {
  color: hsl(340deg 95% 60%);
}
.sidenote-icon-success {
  color: mediumspringgreen;
}
.sidenote-icon-gift {
  color: #ff00ff;
}

.title {
  font-size: 1.25em;
  font-weight: bold;
}

#never-say-never {
  position: relative;
  -webkit-text-fill-color: transparent;
  color: #ff00ff;
  background-clip: text;
  background-image: linear-gradient(to right, #ff00ff, hsl(272, 81%, 63%), mediumspringgreen);
}

#never-say-never:hover {
  background-image: linear-gradient(to left, #ff00ff, hsl(272, 81%, 63%), mediumspringgreen);
}
