/* .App {} */

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Add background color or gradient for a retro look */
  background: linear-gradient(to top, #680e74, hsl(272, 81%, 63%), mediumspringgreen);
}

.App-title {
  /* Set font family to a classic 90s font */
  font-family: "Comic Sans MS", cursive, sans-serif;
  /* Set responsive font size to a larger, more exaggerated size */
  font-size: 3em;
  color: mediumspringgreen;
  text-shadow: 4px 5px hsl(272, 81%, 63%);
  transform: translateY(0.22em);
}

.App-body {
  margin-top: 1em;
}

.component-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.component-title {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 2em;
  color: mediumspringgreen;
  text-shadow: 2px 2px hsl(272, 81%, 63%);
  animation: 1s linear 0s infinite normal none running glimmer-and-spice;
  margin-bottom: 0.5em;
}

.component-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
}

@keyframes glimmer-and-spice {
  2%,
  60%,
  63%,
  78%,
  81% {
    transform: none;
    opacity: 1;
  }
  62% {
    transform: translate(-2px, 0px) skew(21deg);
  }
  80% {
    opacity: 0.4;
    transform: translate(2px, 0px) skew(-15deg);
  }
}
